.container {
  background-color: rgb(205, 167, 241);
  background-size: cover;
  height: 50vh;
  width: 50vw;
  margin-left: 25%;
  margin-top: 10%;
  text-align: center;
}
.styling {
  font-family: "Courier New", Courier, monospace;
  color: rgb(40, 3, 75);
  padding-top: 20%;
}
.details {
  color: rgb(15, 2, 27);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
}
